URxvt.scrollBar: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.font: xft:DejaVuSansMono:pixelsize=12
URxvt.perl-ext-common: font-size